<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{'/fragments/headFragment' :: head}">
    <title>Dettaglio Pizze</title>
</head>

<body>
    <div th:insert="~{'/fragments/headerFragment' :: header}"></div>

    <main class="container border border-black mt-5 text-center">
        <div>
            <h1 th:text="${pizza.nome}"></h1>
        </div>
        <div class="mt-3">
            <p th:text="${pizza.descrizione}"></p>
        </div>
        <div class="mt-3">
            <p th:text="${pizza.url}"></p>
        </div>
        <div>
            <p th:text="${pizza.prezzo} + ' &euro;'"></p>
        </div>
        <div class="mt-5 mb-3">
            <a class="btn btn-primary" aria-current="page" th:href="@{/pizzeria/}"><i class="fas fa-home"></i></a>
            <a class="btn btn-primary ms-3" aria-current="page" th:href="@{|/pizzeria/${pizza.id}/offerteCreate|}"><i class="fas fa-file-alt"></i></a>
        </div>
        <div class="row">
            <div class="col-12">
                <h3>Offerte</h3>
                <div class="mt-3 mb-3">
                    <table class="table" th:if="${pizza.offerte.size() > 0}">
                        <thead>
                            <tr>
                                <th>
                                    Titolo
                                </th>
                                <th>
                                    Data Inizio
                                </th>
                                <th>
                                    Data Fine
                                </th>
                                <th>
                                    <!--Spazio per la modifica-->
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="offerta : ${pizza.offerte}">
                                <td th:text="${offerta.titolo}"></td>
                                <td th:text="${offerta.dataInizio}"></td>
                                <td th:text="${offerta.dataFine}"></td>
                                <td>
                                    <a class="btn btn-primary" th:href="@{|/offerte/create/${offerta.id}|}">
                                        <i class="fas fa-pencil"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>


                    </table>
                    <div th:unless="${pizza.offerte.size() > 0}">
                        <div class="alert alert-primary">
                            Non ci sono offerte per questa pizza!
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </main>
</body>

</html>